<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<style>
    body {background-color: rgb(41, 44, 51);}
</style>
<body >
 
    {{{body}}}
 
</body>
</html>