<div style="color:white">
    <h3 style="color:rgb(219, 85, 85)">RequestResult:</h3> <pre>{{devMessage}}</pre>
    <br/>
    <h3 style="color:rgb(219, 85, 85)">ErrorMessage:</h3><pre>{{err.message}}</pre>
    <br/>
    <h3 style="color:rgb(219, 85, 85)">Error:</h3><pre>{{stringErr}}</pre>
</div>