<div style="color:white">
    <h3 style="color:rgb(97, 224, 97)">Request Response</h3> <pre>{{devMessage}}</pre>
    <br/>
    <hr style="color: white; width: 90%"/>
    <h3 style="color:rgb(97, 224, 97)">Result:</h3><pre><code>{{result}}</code></pre>
</div>